body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: white;
  margin: 0;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

.container {
  margin: 0;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  color: #ffa500;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: orange;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c00;
}

/* General styling */
@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

/* Responsive Design */
@media screen and (max-width: 800px) {
  body, .container {
    padding: 0.5rem;
  }

  input {
    padding: 8px;
    font-size: 16px;
  }

  button {
    padding: 8px 16px;
  }
}
